<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button 
        type="button"
        class="navbar-toggle"
        (click)="toggleNavbar()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a 
        routerLink="/weaknesses" 
        class="navbar-brand">
        Monster Weaknesses
      </a>
    </div>

    <div 
      class="collapse navbar-collapse"
      [class.in]="!isCollapsed">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a 
            routerLink="/spells" 
            >Spell List
          </a>
        </li>
        <li routerLinkActive="active">
          <a 
            routerLink="/monsters"  
            >Monster List
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a 
        class="dropdown-toggle" 
        style="cursor: pointer;"
        (click)="diceDropdown = !diceDropdown">
        Roll Dice 
        <span 
          class="caret">
        </span>
      </a>
      <ul class="dropdown-menu" [class.show]="diceDropdown">
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDtwenty()"
            >D20
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDtwelve()"
            >D12
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDten()"
            >D10
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDeight()"
            >D8
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDsix()"
            >D6
          </a>
        </li>
        <li routerLinkActive="active">
          <a
            style="cursor: pointer;"
            (click)="generateDfour()"
            >D4
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
