<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 style="margin: 0;">Contacts</h3>
      </div>
      <span class="pull-right">
        <div class="col-xs-12 col-sm-6">
          <button class="btn btn-success">New Contact</button>
        </div>
      </span>
    </div>
  </div>

  <div class="row" style="margin: 10px">
    <div class="col-xs-12">
      @for (contact of contacts; track contact.id) {
        <a href="#" class="list-group-item clearfix">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
          </div>
          <span class="pull-right">
            <img 
              [src]="contact.imageUrl" 
              [alt]="contact.name" 
              class="img-responsive" 
              style="max-height: 50px;">
          </span>
        </a>
      }
    </div>
  </div>

</div>


