<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row">
      <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1></h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 text-right">
        <div class="btn-group" style="margin: 2px">
          <button type="button" class="btn btn-primary">
            Edit
          </button>
        </div>

        <div class="btn-group" style="margin: 2px">
          <button type="button" class="btn btn-primary">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 1rem">
    <div class="col-xs-12">
      Email:
    </div>
  
    <div class="col-xs-12">
      Phone:
    </div>
  </div>
</div>


