<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-xs-12"> 
        <h1>{{ contact.name }}</h1> 
      </div>

    <div class="row" style="display: flex; align-items: flex-end;">
      <div class="col-xs-5">
        <img
          [src]="contact.imageUrl"
          alt="{{ contact.name }}"
          class="img-responsive">
      </div>
  
      <div class="col-xs-7 text-right">
        <div class="btn-group" style="margin: 2px">
          <a type="button" class="btn btn-primary"
            [routerLink]="['/contacts', contact.id, 'edit']">
            Edit
          </a>
        </div>
        <div class="btn-group" style="margin: 2px">
          <a type="button" class="btn btn-danger"
            (click)="onDelete()">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 1rem">
    <div class="col-xs-12">
      Email: {{ contact.email }}
    </div>
  
    <div class="col-xs-12">
      Phone: {{ contact.phone }}
    </div>
  </div>
</div>