<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Add Documents</span>
      <a class="btn btn-success pull-right">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
    <!--Add tag to display a list of DocumentItem components-->
      <div class="row" style="margin: 10px">
        <div class="col-xs-12">
          <document-item></document-item>
          <document-item></document-item>
        </div>
      </div>
    </div>
  </div>

</div>
