<div class="panel panel-default">

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row col-sm-6">
            <span class="title pad-left-right">Spells</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input 
                type="text" 
                #searchBox 
                (keyup)="search(searchBox.value)"
                class="form-control"
                placeholder="Enter a search value">
              <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Spell</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- [spell] is from spellItemComponent -->
  <div class="row" style="margin: 10px">
    <div class="col-xs-12">
      <app-spell-item
        *ngFor="let spellEl of spells | 
        spellsFilter:term"
        [spell]="spellEl">
      </app-spell-item>
    </div>
  </div>

  <p
    *ngIf="(spells | spellsFilter:term)
    .length === 0"
    >No spells found.
  </p>

</div>
